<template>
    <div>
        <section class="content-header">
            <h1>
                Administrator
                <small>Dashboard</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-car"></i>Home</a></li>
                <li class="active">Administrator Dashboard</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <chartist
                            ratio="ct-major-tenth"
                            type="Line"
                            :data="lineChartData"
                            :options="lineChartOptions" >
                    </chartist>
                </div>
                <div class="col-md-6">
                    <chartist
                            ratio="ct-major-tenth"
                            type="Pie"
                            :data="pieChartData"
                            :options="pieChartOptions" >
                    </chartist>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <chartist
                            ratio="ct-major-tenth"
                            type="Line"
                            :data="lineChartData2"
                            :options="lineChartOptions2"  >
                    </chartist>
                </div>
                <div class="col-md-6">
                    <chartist
                            ratio="ct-major-tenth"
                            type="Bar"
                            :data="barChartData"
                            :options="barChartData" >
                    </chartist>
                </div>
            </div>
        </section>
    </div>
</template>

<script>

    export default {
        mounted(){


        },
        data() {
            return {
                lineChartData: {
                    labels: [1,2,3,4,5,6,7,8,9,10,11,12],
                    series:[
                        [1,3,2,3,5,7,3,11,6,8,2,9],
                        [3,5,2,7,3,4,10,1,8,2,5,9]]
                },
                lineChartOptions: {
                    lineSmooth: false,
                    showArea: true
                },

                lineChartData2: {
                    labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                    series: [
                        [12, 9, 7, 8, 5],
                        [2, 1, 3.5, 7, 3],
                        [1, 3, 4, 5, 6]
                    ]
                },
                lineChartOptions2: {
                    fullWidth: true,
                    chartPadding: {
                        right: 40
                    }
                },

                barChartData: {
                    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    series: [
                        [5, 4, 3, 7, 5, 10, 3, 4, 8, 10, 6, 8],
                        [3, 2, 9, 5, 4, 6, 4, 6, 7, 8, 7, 4]
                    ]
                },
                barChartOptions: {
                    seriesBarDistance: 10
                },

                pieChartData: {
                    labels: ['Q1', 'Q2', 'Q3', 'Q4'],
                    series: [15, 40, 60, 100]

                },
                pieChartOptions: {
                    lineSmooth: false,
                    showArea: true,
                    donut: true,
                    donutWidth: 60,
                    donutSolid: true,
                    startAngle: 270,
                    total: 200,
                    showLabel: true
                }
            }
        },
        methods: {
            getRandomColor() {
                var letters = '0123456789ABCDEF'.split('');
                var color = '#';
                for (var i = 0; i < 6; i++ ) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            },
        }
    }
</script>
<style>
    .ct-label {
        font-size: 16px;
    }
</style>