<template>
    <div>
        <section class="content-header">
            <h1>
                Dashboard
                <small>Real-Time Data</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-car"></i>Home</a></li>
                <li class="active">Parking Spaces</li>
            </ol>
        </section>
        <input type="text" v-model="query">
        <select v-model="selected">
            <option disabled value="">Please select one</option>
            <option>CUSTOMER</option>
            <option>FEMALE</option>
            <option>EMPLOYEE</option>
        </select>
        <span>Selected: {{ selected }}</span>
        <section class="content">
            <simplert :useRadius="true"
                      :useIcon="false"
                      ref="simplert">
            </simplert>
            <div class="row">
                <div v-for="point in filteredParkingSpaces" class="col-md-3 col-xs-4" @click="openModal(point)">
                    <div class="info-box">
                        <span :class="['info-box-icon', point.available ? 'bg-green' : 'bg-red']"><i class="fa fa-car"></i></span>
                        <div class="info-box-content text-center">
                            <span class="info-box-number">
                                {{point.id}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    import axios from 'axios';
    var moment = require('moment')
    export default {
        created(){
            this.getAllParkingSpaces();
        },
        computed: {
            filteredParkingSpaces(){
                let vm = this;
                return this.parkingSpaces.filter(item => {
                    return item.parkingSpaceType.indexOf(this.selected) > -1
                })
            }
        },
        data () {
            return {
                query: '',
                selected: '',
                datapoints: [],
                parkingSpaces: [],
                mapData: new Map(),
                available : 'available',
                taken: 'taken',
            }
        },
        methods: {

            getAllParkingSpaces(){
                let vm = this;
                let parkingSpaces = []
                this.$http.get("http://localhost:9001/parkingSpaces/")
                    .then(response=>{
                        return response.body._embedded.parkingSpaces;
                    }).then(data =>{
                    vm.parkingSpaces = data;
                    vm.parkingSpaces.forEach( p => {
                        vm.getLatestUpdates(p)
                    })
                })
            },
            getLatestUpdates(parkingSpace){
                let vm = this;
                axios.get('http://localhost:9001/last/' + parkingSpace.id)
                    .then(function(response){
                        return response.data;
                    })
                    .then(data => {
                        parkingSpace.data = data
                    })
            },
            sendStartEvent(id){
                this.$http.post('http://localhost:9006/mock/start/' + id).then(response => {
                    console.log(response.data);
                });
            },
            sendEndEvent(id){
                this.$http.post('http://localhost:9006/mock/end/' + id).then(response => {
                    console.log(response.data);
                });
            },
            formatPopoverContent(point){
                let content = `<strong>Parking ID: ${point.id}</strong>  <br/> `;
                if(point.available){
                    content+= `<strong>Available: Yes<strong/> <br/>`
                }else {
                    content+= `<strong>Available: No<strong/> <br/>`
                    let now = moment(moment().format('YYYY-MM-DD HH:mm:ss'))
                    let later =moment(point.timestamp,'YYYY-MM-DD HH:mm:ss')
                    console.log();
                    let difference = now.diff(later,'minutes')
                    content+= `<strong>Duration:<strong/> ${difference} Minutes<br/>`
                }
                return content;
            },
            preventDuplicates(point) {
                let points = this.datapoints.slice();
                if(points){
                    for(let i = 0; i < points.length; i++){
                        let item = points[i];
                        if(item.parkingId === point.parkingId){
                            console.log('Duplicate! Update Status')
                            points[i] = point
                            console.log('New Status')
                            console.log(points[i])
                        }
                    }
                } else {
                   points.push(point)
                }
                this.datapoints = points;
            },
            openModal(point){
                let message = this.formatPopoverContent(point)
                let obj = {
                    title: 'Parking Information',
                    message: message,
                    type: 'warning',
                    onClose: this.onClose,
                }
                this.$refs.simplert.openSimplert(obj);
            },
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    .taken {
        border: 1px solid red;
        background-color: red;
    }
    .available {
        border: 1px solid green;
        background-color: green;
    }
</style>
