<template>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0
        </div>
        <strong>Info Support - Smart Parking &copy; 2017.</strong>
    </footer>
</template>