<template>
	<div>
        <section class="content-header">
            <h1>
                Info Support
                <small>Parking Spaces</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-car"></i>Home</a></li>
                <li class="active">Parking Spaces</li>
            </ol>
        </section>
        <section class="content">
	        <div class="row">
	        	<div class="col-md-3">

<div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-line-chart"></i></span>

            <div class="info-box-content text-center">
              <span class="info-box-text">Occupancy Rate</span>
              <span class="info-box-number">Taken {{takenParkingSpaces}} / {{totalParkingSpaces}}</span>

              <div class="progress">
                <div class="progress-bar" :style="{width: (takenParkingSpaces / totalParkingSpaces) * 100 + '%'}"></div>
              </div>
            </div>
            <!-- /.info-box-content -->
          </div>        	
	        		<div class="box">
	        			<div class="box-header">
	        				<h3 class="box-title">Entering Parking Lot</h3>
	        			</div>
	        			<div class="box-body no-padding">
	        				<table class="table table-condensed">
	        					<tbody>
	        						<tr>
	        							<th>ID</th>
	        							<th>Gender</th>
	        							<th>Role</th>
	        							<th>Car Type</th>
	        						</tr>
	        						<tr v-for="item in entering" :style="{'background-color': item.leaving}" :key="item.id">
	        							<td>{{item.id}}</td>
	        							<td>{{item.gender}}</td>
	        							<td>{{item.role}}</td>
	        							<td>{{item.car.type}}</td>
	        						</tr>
	        					</tbody>
	        				</table>
	        			</div>
	        		</div>
	        		<div class="box">
	        			<div class="box-header">
	        				<h3 class="box-title">Entering Parking Lot</h3>
	        			</div>
	        			<div class="box-body no-padding">
	        				<table class="table table-condensed">
	        					<tbody>
	        						<tr>
	        							<th>ID</th>
	        							<th>Gender</th>
	        							<th>Role</th>
	        							<th>Car Type</th>
	        						</tr>
	        						<tr v-for="item in leaving" :style="{'background-color': item.leaving}" :key="item.id">
	        							<td>{{item.id}}</td>
	        							<td>{{item.gender}}</td>
	        							<td>{{item.role}}</td>
	        							<td>{{item.car.type}}</td>
	        						</tr>
	        					</tbody>
	        				</table>
	        			</div>
	        		</div>	        		
	        	</div>
	        	<div class="col-md-9">
	        		<div class="row">

		<div class="col-md-6">
			<div class="info-box">
	            <span class="info-box-icon bg-maroon"><i class="fa fa-car"></i></span>
	            <div class="info-box-content text-center"
	             :style="{padding: '27px 0px'}">
	              <span class="info-box-number">Employee</span>
	            </div>
	            <!-- /.info-box-content -->
	      	</div>
      		<easel-canvas width="500" height="200" stroke="red">
	   			<easel-shape v-for="p in parkingSpaces.EMPLOYEE2" :key="p.id"
			        :x="p.x"
			        :y="p.y"
					stroke="black"
			        form="circle"
			        :fill="p.c"
			        :alpha="p.a"
			        :dimensions="10"
			        :align="['center','center']">
			    </easel-shape>
			</easel-canvas>	
		</div>
		<div class="col-md-6">
			<div class="info-box">
	            <span class="info-box-icon bg-maroon"><i class="fa fa-car"></i></span>
	            <div class="info-box-content text-center"
	            :style="{padding: '27px 0px'}">
	              <span class="info-box-number">Employee Over Bridge</span>
	            </div>
	            <!-- /.info-box-content -->
	      	</div>
      		<easel-canvas width="600" height="300" stroke="red">
	   			<easel-shape v-for="p in parkingSpaces.EMPLOYEE" :key="p.id"
			        :x="p.x"
			        :y="p.y"
					stroke="black"
			        form="circle"
			        :fill="p.c"
			        :alpha="p.a"
			        :dimensions="10"
			        :align="['center','center']">
			    </easel-shape>
			</easel-canvas>	
		</div>						
		<div class="col-md-4">
			<div class="info-box">
	            <span class="info-box-icon bg-purple"><i class="fa fa-car"></i></span>
	            <div class="info-box-content text-center"
	            :style="{padding: '27px 0px'}">
	              <span class="info-box-number">Customer</span>
	            </div>
	            <!-- /.info-box-content -->
	      	</div>	
			<easel-canvas width="500" height="100" stroke="red">
			    <easel-shape v-for="p in parkingSpaces.CUSTOMER":key="p.id"
			        @click="openModal(p)"
			        :x="p.x"
			        :y="p.y"
			        form="circle"
					stroke="black"
			        :fill="p.c"
			        :alpha="p.a"			        
			        :dimensions="10"
			        :align="['center','center']">
			    </easel-shape>
			</easel-canvas>	  	      	
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="info-box">
	            <span class="info-box-icon bg-orange"><i class="fa fa-car"></i></span>
	            <div class="info-box-content text-center"
	            :style="{padding: '27px 0px'}">
	              <span class="info-box-number">Female</span>
	            </div>
	            <!-- /.info-box-content -->
	      	</div>	
			<easel-canvas width="500" height="100" stroke="red">
			    <easel-shape v-for="p in parkingSpaces.FEMALE":key="p.id"
			        @click="openModal(p)"
			        :x="p.x"
			        :y="p.y"
			        form="circle"
					stroke="black"
			        :fill="p.c"
			        :alpha="p.a"			        
			        :dimensions="10"
			        :align="['center','center']">
			    </easel-shape>
			</easel-canvas>	  	      	
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="info-box">
	            <span class="info-box-icon bg-blue"><i class="fa fa-car"></i></span>
	            <div class="info-box-content text-center"
	            :style="{padding: '27px 0px'}">
	              <span class="info-box-number">Electric</span>
	            </div>
	            <!-- /.info-box-content -->
	      	</div>	
			<easel-canvas width="350" height="200" stroke="red">
			    <easel-shape v-for="p in parkingSpaces.ELECTRIC":key="p.id"
			        @click="openModal(p)"
			        :x="p.x"
			        :y="p.y"
			        form="circle"
					stroke="black"
			        :fill="p.c"
			        :alpha="p.a"			        
			        :dimensions="10"
			        :align="['center','center']">
			    </easel-shape>
			</easel-canvas>	      	
		</div>		
	        		</div>
	        	</div>
	    	</div>
        </section>
		<simplert :useRadius="true"
		      :useIcon="false"
		      ref="simplert">
		</simplert>
	</div>

</template>
<script>
    var mqtt = require('mqtt')
    var client  = mqtt.connect('ws://localhost:8000/mqtt')
	
	export default {
		created(){
			this.getParkingSpaces()
		},
		mounted(){
			let vm = this;
			let entering_channel = '/parking/persons/entering'
			let leaving_channel = '/parking/persons/leaving'
            client.subscribe(entering_channel)
            client.subscribe(leaving_channel)

            client.on('message', function (topic, message) {
                let parkingSpace = JSON.parse(new Buffer(message).toString('ascii'));
                let arr = []
                let index = {}
			    if(parkingSpace.id > 30 && parkingSpace.id <= 60){
				    arr = vm.parkingSpaces.EMPLOYEE2;
				    index = vm.findCorrectOne(parkingSpace, arr)			    	
			    } else{
				    arr = vm.parkingSpaces[parkingSpace.parkingSpaceType];
				    index = vm.findCorrectOne(parkingSpace, arr)			    	
			    }
	    		let person = parkingSpace.person
	    		person.leaving = 'orange'
			    switch(topic){
			    	case entering_channel:
			    		vm.takenParkingSpaces++;
                    	index.a = 0.2

                    	vm.entering.push(person) 
				    	setTimeout(()=>{
				    		vm.entering.shift()
				    	},2000)
                    	break;
                	case leaving_channel:
			    		vm.takenParkingSpaces--;  
                    	index.a = 1.0

                    	vm.leaving.push(person) 
				    	setTimeout(()=>{
				    		vm.leaving.shift()
				    	},2000)
                    	break;
                	default:
                		console.log("None of the channels")
			    }
            })
		},
		data(){
			return {
				parkingSpaces: {
					"EMPLOYEE": [],
					"EMPLOYEE2": [],
					"ELECTRIC": [],
					"FEMALE": [],
					"CUSTOMER": [],
					"OTHER": []
				},
				takenParkingSpaces: 0,
				totalParkingSpaces: 210,
				entering: [],
				leaving: []
			}
		},
		methods: {
			getParkingSpaces(){
				let vm = this
                this.$http.get("http://localhost:9001/parkingSpaces/")
                    .then(response=>{
                        return response.body._embedded.parkingSpaces;
                    }).then(data =>{  
                        data.forEach( p => {
                        	let parkingSpace = {
                        		id: p.id,
                        		type: p.parkingSpaceType,
                        		code: p.parkingSpaceCode,
                        		driver: p.person,
                        		x: 0,
                        		y: 0,
                        		c: this.getColor(p.parkingSpaceType)
                        	}
                        	vm.assignToType(parkingSpace)
                        })
                	}).then(ps => {
                        for(let type in vm.parkingSpaces){
	                		let width = 250;

                        	console.log(type)
                        	let arr = vm.parkingSpaces[type]
			 				let posX = 0
							let posY = 10   
                       		for(let item of arr){
                       			if(type === "EMPLOYEE" || type === "EMPLOYEE2"){
                       				width = 400
                       			}
								if(posX >= width){
									posX = 0
									posY += 25
								}
								posX += 25;
								item.x = posX;
								item.y = posY
                       		}
                        }
    					this.parkingSpaces.EMPLOYEE2 = this.parkingSpaces.EMPLOYEE.splice(0,30);
                	})
			},
			getColor(parkingSpaceType){
				switch(parkingSpaceType){
					case 'ELECTRIC':
						return '#0073b7'
					case 'CUSTOMER':
						return '#605ca8'
					case 'FEMALE':
						return '#ff851b'
					case 'EMPLOYEE':
						return '#D81B60'
					default:
						return 'GRAY'
				}
			},
			assignToType(parkingSpace){
				switch(parkingSpace.type){
					case 'EMPLOYEE':
						this.parkingSpaces.EMPLOYEE.push(parkingSpace)
						break;
					case 'CUSTOMER':
						this.parkingSpaces.CUSTOMER.push(parkingSpace)
						break;
					case 'FEMALE':
						this.parkingSpaces.FEMALE.push(parkingSpace)
						break;
					case 'ELECTRIC':
						this.parkingSpaces.ELECTRIC.push(parkingSpace)
						break;																	
					default:
						console.log('Other type')
				}
			},
			findCorrectOne(parkingSpace, parkingSpaces){
				let found = {}
				for(let i of parkingSpaces){
					if(parkingSpace.id === i.id){
						found = i
					}
				}
				return found;				
			},
            openModal(point){
                let message = point.type
                let obj = {
                    title: 'Parking Information',
                    message: this.formatPopoverContent(point),
                    type: 'success',
                    onClose: this.onClose,
                }
                this.$refs.simplert.openSimplert(obj);
            },
            formatPopoverContent(point){
                let content = `<strong>Parking Space ID:</strong> ${point.id} <br/>
                               <strong>Parking Space Type:</strong> ${point.type} </br>
                               <strong>Parking Space Code:</strong> ${point.code} </br> `;
                return content;
            },
			sleepSplice(ms) {
			    var start = Date.now(),
			        now = start;
			    while (now - start < ms) {
			      now = Date.now();
			    }
			}			           
		}
	}
</script>

<style scoped>
/*    .info-box-content {
        padding: 27px 0px;
    }	 */
    .progress{
    	height: 9px
    }
</style>