<template>
    <div>
        <section class="content-header">
            <h1>
                Parking Spaces
                <small>Overview Of Availability</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-car"></i>Home</a></li>
                <li class="active">Parking Spaces</li>
            </ol>
        </section>
        <section class="content">
            <simplert :useRadius="true"
                      :useIcon="false"
                      ref="simplert">
            </simplert>
            <div class="form-group">
                <select class="form-control" v-model="selected">
                    <option value="">All</option>
                    <option>Customer</option>
                    <option>Female</option>
                    <option>Electric</option>
                    <option>Employee</option>
                </select>
            </div>
            <div class="row">
                <div v-for="point in filteredParkingSpaces" class="col-md-3 col-xs-4">
                        <div class="info-box"
                             @click="openModal(point)">
                            <span :class="['info-box-icon', point.data.available ? 'bg-green' : 'bg-red']"><i class="fa fa-car"></i></span>
                            <div class="info-box-content text-center">
                            <span class="info-box-number">
                                {{point.id}}</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!--<div class="box box-solid">-->
                            <!--<div class="box-header with-border text-center">-->
                                <!--<i class="fa fa-car"></i>-->

                                <!--<h3 class="box-title">Parking Space {{point.id}}</h3>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; /.box-header &ndash;&gt;-->
                            <!--<div class="box-body">-->
                                <!--<button type="button"  @click="sendStartEvent(point.id)" class="btn btn-block btn-danger btn-lg">Start</button>-->
                                <!--<button type="button"  @click="sendEndEvent(point.id)"class="btn btn-block btn-success btn-lg">End</button>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
                        <!--</div>-->
                        <!-- /.info-box -->
                    </div>
            </div>
        </section>
    </div>
</template>

<script>
    var moment = require('moment')
    var mqtt = require('mqtt')
    var client  = mqtt.connect('ws://localhost:8000/mqtt')
    export default {
        created(){
            this.getAllParkingSpaces();
            client.subscribe('/parking/persons')

            let vm = this;
            client.on('message', function (topic, message) {
                let point = JSON.parse(new Buffer(message).toString('ascii'));
                console.log(point)
                //vm.preventDuplicates(point);
            })
        },
        computed: {
            filteredParkingSpaces(){
                let vm = this;
                return this.parkingSpaces.filter(item => {
                    return item.parkingSpaceType.indexOf(this.selected.toUpperCase()) > -1
                })
            }
        },
        data(){
            return {
                selected: '',
                parkingSpaces: [],
            }
        },
        methods: {
            formatPopoverContent(point){
                let content = `<strong>Parking ID:</strong> ${point.id} <br/>
                               <strong>Parking Space Type:</strong> ${point.parkingSpaceType} </br>
                               <strong>Parking Space Code:</strong> ${point.parkingSpaceCode} </br> `;
                if(point.data.available){
                    content+= `<strong>Available: Yes<strong/> <br/>`
                }else {
                    content+= `<strong>Available: No<strong/> <br/>`
                    let now = moment(moment().format('YYYY-MM-DD HH:mm:ss'))
                    let later =moment(point.data.timestamp,'YYYY-MM-DD HH:mm:ss')
                    let difference = now.diff(later,'minutes')
                    content+= `<strong>Duration:<strong/> ${difference === 0 ? '< 1 minute' : difference + ' minutes'} <br/>`
                }
                return content;
            },
            getAllParkingSpaces(){
                let vm = this;
                let parkingSpaces = []
                this.$http.get("http://localhost:9001/parkingSpaces/")
                    .then(response=>{
                        return response.body._embedded.parkingSpaces;
                    }).then(data =>{
                        data.forEach( p => {
                            vm.getLatestUpdates(p)
                        })
                })
            },
            getLatestUpdates(parkingSpace){
                let vm = this;
                this.$http.get('http://localhost:9001/last/' + parkingSpace.id)
                    .then(function(response){
                        return response.data;
                    })
                    .then(data => {
                        parkingSpace.data = data
                        vm.parkingSpaces.push(parkingSpace)
                    })
            },
            sendStartEvent(id){
                this.$http.post('http://localhost:9006/mock/start/' + id).then(response => {
                    console.log(response.data);
                });
            },
            sendEndEvent(id){
                this.$http.post('http://localhost:9006/mock/end/' + id).then(response => {
                    console.log(response.data);
                });
            },
            preventDuplicates(point) {
                let points = this.parkingSpaces.slice();
                if(points){
                    for(let i = 0; i < points.length; i++){
                        let item = points[i];
                        if(item.id === point.parkingId){
                            points[i].data = point
                        }
                    }
                }
            },
            openModal(point){
                let message = this.formatPopoverContent(point)
                let obj = {
                    title: 'Parking Information',
                    message: message,
                    type: 'success',
                    onClose: this.onClose,
                }
                this.$refs.simplert.openSimplert(obj);

            },
        }
    }
</script>

<style scoped>
    .info-box-content {
        padding: 27px 0px;
    }
</style>