<template>
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <!-- Optionally, you can add icons to the links -->
                <li><router-link to="/"><i class="fa fa-car"></i> <span>Parking Spaces</span></router-link></li>
                <li><router-link to="admin"><i class="fa fa-bar-chart"></i> <span>Dashboard</span></router-link></li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
</template>