<template>
    <div id="app">
        <app-header></app-header>
        <app-sidebar></app-sidebar>
        <div class="content-wrapper">
            <router-view></router-view>
        </div>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import Header from './components/Header.vue'
    import Sidebar from './components/Sidebar.vue'
    import Footer from './components/Footer.vue'

    export default {
        name: 'app',
        components: {
            appHeader: Header,
            appSidebar: Sidebar,
            appFooter: Footer
        }
    }
</script>

<style>
</style>
